<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Professores</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header class="">
        <img src="/Logo.png" alt="Logo Dom Bosco" class="logo_img">
        <div class="login">
            <div class="profile-user">
                <label class="" for="" class="loginLabel">Bruno Maciel Ricce</label>
                <label for="">Função: Admin</label>
            </div>
            <div>
            </div>
            <div class="logout">
                <label for="" class="loginLabel">Sair</label>
            </div>
        </div>
    </header>
    <main class="container-painel">
        <nav>
            <label for="" class="barLabel">Menu</label>
            <ul class="menu-lateral">
                <li><a href="/alunos/" class="barItem" for="Alunos">Alunos</a></li>
                <li><a href="/professores/" class="barItem">Professores</a></li>
                <li><a href="/titulos/" class="barItem">Títulos</a></li>
                <li><a href="/exermplares/" class="barItem">Exemplar</a></li>
                <li><a href="/editoras/" class="barItem">Editoras</a></li>
                <li><a href="/autores/" class="barItem">Autores</a></li>
                <li><a href="/assuntos/" class="barItem">Assuntos</a></li>
                <li><a href="/estantes/" class="barItem">Estantes</a></li>
                <li><a href="/anoseries/" class="barItem">Ano/Série</a></li>
            </ul>
        </nav>
        <div class="divForm">
            <form class="formInfo" name="FormCad" id="formCad">
                <img src="/Logo.png" alt="Logo Dom Bosco" class="container_img">
            </form>
  
        </div>
    </main>
</body>

</html>