<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Professores</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header class="">
        <img src="imgs/Logo.png" alt="Logo Dom Bosco">
        <div class="login">
            <div class="profile-user">
                <label class="" for="" class="loginLabel">Bruno Maciel Ricce</label>
                <label for="">Função: Admin</label>
            </div>
            <div>

            </div>
            <div class="logout">
                <label for="" class="loginLabel">Sair</label>
            </div>

        </div>
    </header>
    <main class="container-painel">
        <nav>
            <label for="" class="barLabel">Menu</label>
            <ul class="menu-lateral">
                <li><a href="BAluno.html" class="barItem" for="Alunos">Alunos</a></li>
                <li><a href="BProfessor.html" class="barItem">Professores</a></li>
                <li><a href="BTitulo.html" class="barItem">Títulos</a></li>
                <li><a href="BExemplar.html" class="barItem">Exemplar</a></li>
                <li><a href="BEditora.html" class="barItem">Editoras</a></li>
                <li><a href="BAutor.html" class="barItem">Autores</a></li>
                <li> <a href="BAssunto.html" class="barItem">Assuntos</a></li>
                <li> <a href="BEstante.html" class="barItem">Estantes</a></li>
                <li> <a href="BAnoSerie.html" class="barItem">Ano/Série</a></li>
            </ul>
        </nav>
        <form action="">
            <h1 class="title-gerenciar">Gerênciar Professores</h1>
            <hr>
            <!-- Dados de preenchimento -->
            <div class="formu">
                <div class="linha">
                    <div class="fmnome">
                        <label for="">Nome:</label>
                        <input type="text" placeholder="Nome" id="nome" name="username" maxlength="20" class="gd"
                            required>
                    </div>
                    <div class="fmcpf">
                        <label>CPF:</label>
                        <input type="text" placeholder="CPF" id="nome" name="CPF" maxlength="20" required>
                    </div>
                    <div class="fmestado">
                        <label for=""> Estado:</label>
                        <select name="estado" id="numero" required>
                            <option value="">Estado</option>
                            <option value="Ativo">Ativo</option>
                            <option value="Inativo">Inativo</option>
                        </select>
                    </div>
                </div>
                <div class="linha">
                    <div class="fmendereco">
                        <label for="">Endereço:</label>
                        <input type="text" placeholder="Endereço" id="nome" name="username" class="gd">
                    </div>
                    <div class="fmtelefone">
                        <label for="">Telefone:</label>
                        <input type="text" placeholder="Telefone" id="nome" name="username" maxlength="20">
                    </div>
                    <div class="fmemail">
                        <label for="">E-mail:</label>
                        <input type="email" placeholder="E-mail" id="nome" name="username" class="gd">
                    </div>
                </div>
                <div class="linha">
                    <input type="radio" name="rbcad" id="rbprof" value="rbprof" checked>
                    <label for="rbprof">Professor</label>
                    <input type="radio" name="rbcad" id="rbrsl" value="rbrsl">
                    <label for="rbrsl">RSL</label>
                    <input type="radio" name="rbcad" id="rbadm" value="rbadm">
                    <label for="rbadm">Administrador</label>
                </div>

                <div class="linha botoes">
                    <button class="btCon">Confirmar</button>
                    <button class="btCan">Cancelar</button>
                    <button class="btEx">Excluir</button>
                </div>
            </div>
            <div class="formu">
                <!-- compo de pesquisa -->
                <div class="linha">
                    <div class="fmpesqui">
                        <label for="">Pesquisar:</label>
                        <input type="text" placeholder="Pesquisar" id="nome" name="username" maxlength="20" class="gd"
                            required>
                    </div>
                    <button class="btPes">Pesquisar</button>
                    <div class="linha filtro-pesquisa">
                        <input type="radio" name="rbpesquisa" id="rbra" value="rbra" checked>
                        <label for="rbra">CPF</label>
                        <input type="radio" name="rbpesquisa" id="rbnome" value="rbnome">
                        <label for="rbnome">Nome</label>
                    </div>
                </div>
                <!-- tabela -->
                <table>
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>E-mail</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>016288846</td>
                            <td>Bruno Maciel Ricce</td>
                            <td>3</td>
                            <td>B@</td>
                            <td>Ativo</td>
                        </tr>
                        <tr>
                            <td>101634458</td>
                            <td>José da silva</td>
                            <td>6</td>
                            <td>A@</td>
                            <td>Inativo</td>
                        </tr>
                        <tr>
                            <td>101634458</td>
                            <td>José da silva</td>
                            <td>6</td>
                            <td>A@</td>
                            <td>Ativo</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </form>
    </main>
</body>

</html>