<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Títulos</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header class="">
        <img src="imgs/Logo.png" alt="Logo Dom Bosco">
        <div class="login">
            <div class="profile-user">
                <label class="" for="" class="loginLabel">Bruno Maciel Ricce</label>
                <label for="">Função: Admin</label>
            </div>
            <div>

            </div>
            <div class="logout">
                <label for="" class="loginLabel">Sair</label>
            </div>

        </div>
    </header>
    <main class="container-painel">
        <nav>
            <label for="" class="barLabel">Menu</label>
            <ul class="menu-lateral">
                <li><a href="BAluno.html" class="barItem" for="Alunos">Alunos</a></li>
                <li><a href="BProfessor.html" class="barItem">Professores</a></li>
                <li><a href="BTitulo.html" class="barItem">Títulos</a></li>
                <li><a href="BExemplar.html" class="barItem">Exemplar</a></li>
                <li><a href="BEditora.html" class="barItem">Editoras</a></li>
                <li><a href="BAutor.html" class="barItem">Autores</a></li>
                <li> <a href="BAssunto.html" class="barItem">Assuntos</a></li>
                <li> <a href="BEstante.html" class="barItem">Estantes</a></li>
                <li> <a href="BAnoSerie.html" class="barItem">Ano/Série</a></li>
            </ul>
        </nav>
        <form action="">
            <h1 class="title-gerenciar">Gerênciar Títulos</h1>
            <hr>
            <!-- Dados de preenchimento -->
            <div class="formu">
                <div class="linha">
                    <div class="fmtitulo">
                        <label for="">Título:</label>
                        <input type="text" placeholder="Título" id="titulo" name="titulo"class="gd"
                            required>
                    </div>
                    <div class="fmano">
                        <label>Ano de Publicação:</label>
                        <input type="text" placeholder="Ano de Publicação" id="anop" name="anop" required>
                    </div>
                    <div class="fmqtd">
                        <label>Quantidade:</label>
                        <input type="text" placeholder="Quantidade" id="qtd" name="qtd" required>
                    </div>
                </div>
                <div class="linha">
                    <div class="fmautor">
                        <label for=""> Autor:</label>
                        <select name="Autor" id="Autor" required>
                            <option value="">Autor</option>
                            <option value="jose">jose</option>
                            <option value="pedro">pedro</option>
                        </select>
                    </div>
                    <div class="fmassunto">
                        <label for=""> Assunto:</label>
                        <select name="Autor" id="Autor" required>
                            <option value="">Assunto</option>
                            <option value="jose">jose</option>
                            <option value="pedro">pedro</option>
                        </select>
                    </div>
                    <div class="fmeditora">
                        <label for=""> Editora:</label>
                        <select name="Editora" id="Editora" required>
                            <option value="">Editora</option>
                            <option value="jose">jose</option>
                            <option value="pedro">pedro</option>
                        </select>
                    </div>
                </div>
                <div class="linha botoes">
                    <button class="btCon">Confirmar</button>
                    <button class="btCan">Cancelar</button>
                    <button class="btEx">Excluir</button>
                </div>
            </div>
            <div class="formu">
                <!-- compo de pesquisa -->
                <div class="linha">
                    <div class="fmpesqui">
                        <label for="">Pesquisar:</label>
                        <input type="text" placeholder="Pesquisar" id="nome" name="username" maxlength="20" class="gd"
                            required>
                    </div>
                    <button class="btPes">Pesquisar</button>
                    <div class="linha filtro-pesquisa">
                        <input type="radio" name="rbpesquisa" id="rbra" value="rbra" checked>
                        <label for="rbra">Título</label>
                        <input type="radio" name="rbpesquisa" id="rbnome" value="rbnome">
                        <label for="rbnome">Autor</label>
                        <input type="radio" name="rbpesquisa" id="rass" value="rass">
                        <label for="rass">Assunto</label>
                        <input type="radio" name="rbpesquisa" id="rbedi" value="rbedi">
                        <label for="rbedi">Editora</label>
                    </div>
                </div>
                <!-- tabela -->
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Assunto</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>016288846</td>
                            <td>Bruno Maciel Ricce</td>
                            <td>3</td>
                            <td>B@</td>
                            <td>Ativo</td>
                        </tr>
                        <tr>
                            <td>101634458</td>
                            <td>José da silva</td>
                            <td>6</td>
                            <td>A@</td>
                            <td>Inativo</td>
                        </tr>
                        <tr>
                            <td>101634458</td>
                            <td>José da silva</td>
                            <td>6</td>
                            <td>A@</td>
                            <td>Ativo</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </form>
    </main>
</body>

</html>