<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Autor</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <header class="">
        <img src="/Logo.png" alt="Logo Dom Bosco">
        <div class="login">
            <div class="profile-user">
                <label class="" for="" class="loginLabel">Bruno Maciel Ricce</label>
                <label for="">Função: Admin</label>
            </div>
            <div>

            </div>
            <div class="logout">
                <label for="" class="loginLabel">Sair</label>
            </div>

        </div>
    </header>
    <main class="container-painel">
        <nav>
            <label for="" class="barLabel">Menu</label>
            <ul class="menu-lateral">
                <li><a href="BAluno.html" class="barItem" for="Alunos">Alunos</a></li>
                <li><a href="BProfessor.html" class="barItem">Professores</a></li>
                <li><a href="BTitulo.html" class="barItem">Títulos</a></li>
                <li><a href="BExemplar.html" class="barItem">Exemplar</a></li>
                <li><a href="BEditora.html" class="barItem">Editoras</a></li>
                <li><a href="BAutor.html" class="barItem">Autores</a></li>
                <li> <a href="BAssunto.html" class="barItem">Assuntos</a></li>
                <li> <a href="BEstante.html" class="barItem">Estantes</a></li>
                <li> <a href="BAnoSerie.html" class="barItem">Ano/Série</a></li>
            </ul>
        </nav>
        <form class="formInfo" name="FormCad" id="formCad" autocomplete="off" action="/autores/" method="post">
            <h1 class="title-gerenciar">Gerênciar Autor</h1>
            <hr>
            <!-- Dados de preenchimento -->
            <div class="formu">
                <div class="linha">
                    <div class="fmautor">
                        <label>Nome do Autor:</label>
                        <input type="text" placeholder="Nome do Autor" id="autor" name="Autor" class="gd">
                    </div>
                </div>
                <div class="linha botoes">
                    <button class="btCon">Confirmar</button>
                    <button formaction="/autores/?_method=GET" class="btAlt">Cancelar</button>
                </div>
            </div>
            <div class="formu">
                <!-- campo de pesquisa -->
                <div class="linha">
                    <div class="fmpesqui">
                        <label for="">Pesquisar:</label>
                        <input type="text" placeholder="Pesquisar" id="nome" name="username" maxlength="20" class="gd">
                    </div>
                    <button class="btPes">Pesquisar</button>
                    <div class="linha filtro-pesquisa">
                        <input type="radio" name="rbpesquisa" id="rbnome" value="rbnome" checked>
                        <label for="rbnome">Nome</label>
                    </div>
                </div>
                <!-- tabela -->
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let a of list){ %>
                            <tr>
                                <td>
                                    <%= a.Id_Autor%>
                                </td>
                                <td>
                                    <%= a.Nome%>
                                </td>
                                <td> <a href="/autores/<%=a.Id_Autor %>"> Editar/Ecluir</a></td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
            </div>
        </form>
    </main>
</body>

</html>